# PostgreSQL Configuration (Sandbox Database)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=ciphersql_sandbox

# MongoDB Configuration (Persistence DB)
# MONGODB_URI=mongodb://localhost:27017/ciphersqlstudio
# Or MongoDB Atlas:
MONGODB_URI=mongodb+srv://23mcmc12_db_user:YtJ3207vKZIPneuy@ciphersqlstudio.e3gehil.mongodb.net/?appName=ciphersqlstudio

# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# LLM Configuration
LLM_PROVIDER=gemini
OPENAI_API_KEY=sk-xxxxxxxxxxxx
GEMINI_API_KEY=xxxxxxxxxxxx

# Query Timeouts
QUERY_TIMEOUT=5000
